<!--/ Section Work Start/-->
<section id="portfolio" class="work">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<div class="sec-title text-center">
					<h2>Portfolio</h2>
					<p>Voici les projets travaillés, cliquez sur une des images pour en savoir plus.</p>
					<div class="devider">
						<i class="far fa-heart fa-lg"></i>
					</div>
				</div>
			</div>

			<!-- single project 9 -->
			<div class="single-project col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<img src="{{ asset('build/f2coutureparis.png') }}" alt="page-accueil-site-professionnel-freelance"
						class="img-fluid">
					<div class="overlay">
						<div class="row title">
							<h4>Créateur de vêtements <br/>Félix Castebert</h4>
						</div>
						<div class="row description w-100">
							<h5>Site F2Couture Paris</h5>
							<p>Site vitrine professionnel avec une partie boutique E-commerce de vêtements prêt-à-porter.</p>
						</div>
						<div class="row mt-3 list-tech">
							<p class=" tech">HTML | CSS | WordPress</p>
						</div>
						<div class="row">
							<div class="icon-link col-xs-4 mr-2 text-center">
								<a href="https://f2coutureparis.fr/" target="_blank">
									<i class="fas fa-link"></i>
									<h5>Lien</h5>
								</a>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>
			<!-- end single project -->

			<!-- single project 9 -->
			<div class="single-project col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<img src="{{ asset('build/site-anne-banas-comportementaliste-chat.png' ) }}" alt="page-accueil-site-professionnel-freelance"
						class="img-fluid">
					<div class="overlay">
						<div class="row title">
							<h4>Comportementaliste chat <br/>Paris</h4>
						</div>
						<div class="row description w-100">
							<h5>Site Anne Banas</h5>
							<p>Site vitrine professionnel présentant les services en tant que comportementaliste chat sur Paris et IDF</p>
						</div>
						<div class="row mt-3 list-tech">
							<p class=" tech">HTML | CSS | WordPress</p>
						</div>
						<div class="row">
							<div class="icon-link col-xs-4 mr-2 text-center">
								<a href="https://www.comportementalistechatparis.com/" target="_blank">
									<i class="fas fa-link"></i>
									<h5>Lien</h5>
								</a>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>
			<!-- end single project -->

			<!-- single project 7 -->
			<div class="single-project col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<img src="{{ asset('build/sitefreelance.png' ) }}" alt="page-accueil-site-professionnel-freelance"
						class="img-fluid">
					<div class="overlay">
						<div class="row title">
							<h4>virginiatenza.fr</h4>
						</div>
						<div class="row description w-100">
							<h5>Site web freelance</h5>
							<p>Site présentant mes prestations de services en tant que développeuse web freelance</p>
						</div>
						<div class="row mt-3 list-tech">
							<p class=" tech">HTML | CSS | WordPress</p>
						</div>
						<div class="row">
							<div class="icon-link col-xs-4 mr-2 text-center">
								<a href="https://www.virginiaatenza.fr/" target="_blank">
									<i class="fas fa-link"></i>
									<h5>Lien</h5>
								</a>
							</div>
						</div>
					</div>
					</a>
				</div>
			</div>
			<!-- end single project -->

			<!-- single project 6 -->
			<div class="single-project col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<img src="{{ asset('build/ais.png' ) }}" alt="page-accueil-ais" class="img-fluid">
					<a href="https://ais-caritas.herokuapp.com/" target="_blank">
						<div class="overlay">
							<div class="row title">
								<h4>Ais Caritas</h4>
							</div>
							<div class="row description w-100">
								<h5>Agence Immobilière Sociale</h5>
								<p>Site de l'Agence Immobilière Sociale du Secours Catholique. Projet fin formation en 2 semaines, avec
									Le Wagon
								</p>
							</div>
							<div class="row mt-3 list-tech">
								<p class="tech">HTML | SCSS | JS | Ruby | Ruby On Rails | Webpack
								</p>
							</div>
							<div class="row">
								<div class="icon-link col-xs-4 text-center mr-1">
									<a href="https://youtu.be/xXy05UBjGmU?t=3612" target="_blank">
										<i class="fas fa-play"></i>
										<h5>Démo</h5>
									</a>
								</div>
								<div class="icon-link col-xs-4 mr-2 text-center">
									<a href="https://github.com/Virginia75012/ais_caritas" target="_blank">
										<i class="fas fa-code" style="color:#fff; font-size:20px;"></i>
										<h5>Code</h5>
									</a>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- end single project -->

			<!-- single project 5 -->
			<div class="single-project col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<img src="{{ asset('build/mamyspapys.png' ) }}" alt="page-accueil-mamys-papys" class="img-fluid">
					<a href="#" target="_blank">
						<div class="overlay">
							<div class="row title">
								<h4>Mamys&Papys</h4>
							</div>
							<div class="row description w-100">
								<h5>Copycat Airbnb</h5>
								<p>Web application de location de grands-parents. Projet en 1 semaine avec Le Wagon</p>
							</div>
							<div class="row mt-3 list-tech">
								<p class="tech">HTML | SCSS | JS | Ruby | Ruby On Rails | Webpack
								</p>
							</div>
							<div class="row">
								<div class="icon-link col-xs-4 text-center mr-1">
									<a href="https://drive.google.com/file/d/1N244JhJHSzmmjy5EJEmEZy8qBJOnJuNG/view" target="_blank">
										<i class="fas fa-play"></i>
										<h5>Démo</h5>
									</a>
								</div>
								<div class="icon-link col-xs-4 mr-2 text-center">
									<a href="https://github.com/Ashhoze/-Grands_Parents" target="_blank">
										<i class="fas fa-code" style="color:#fff; font-size:20px;"></i>
										<h5>Code</h5>
									</a>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- end single project -->

			<!-- single project 4 -->
			<div class="single-project col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<img src="{{ asset('build/blogwp.png' ) }}" alt="page-accueil-les-valles-baques" class="img-fluid">
					<a href="#" target="_blank">
						<div class="overlay">
							<div class="row title">
								<h4>Blog Cinéma</h4>
							</div>
							<div class="row description w-100">
								<h5>Cinéma Espagnol</h5>
								<p>Blog répertoriant une liste de films espagnols</p>
							</div>
							<div class="row mt-3 list-tech">
								<p class="tech">HTML | CSS | PHP7 | WordPress
								</p>
							</div>
							<div class="row">
								<div class="icon-link col-xs-4 text-center">
									<a href="https://drive.google.com/file/d/1toWpkt3y50TVW4u6o9Pyy6E_BV-RvKRw/view" target="_blank">
										<i class="fas fa-play"></i>
										<h5>Démo</h5>
									</a>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- end single project -->

			<!-- single project 3 -->
			<div class="single-project col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<img src="{{ asset('build/vallesbaques.png' ) }}" alt="page-accueil-les-valles-baques" class="img-fluid">
					<a href="#" target="_blank">
						<div class="overlay">
							<div class="row title">
								<h4>Les Valles Baques</h4>
							</div>
							<div class="row description w-100">
								<h5>Wep application de jeu</h5>
								<p>Jeu de Quiz en ligne. Projet en 1 mois avec O'clock</p>
							</div>
							<div class="row mt-3 list-tech">
								<p class="tech">HTML | SCSS | JS | PHP7 | Symfony4 | Webpack
								</p>
							</div>
							<div class="row">
								<div class="icon-link col-xs-4 text-center mr-1">
									<a href="https://drive.google.com/file/d/1H7Q2fPBi1X8acoCqjJhv8s-T8GzUGqF5/view" target="_blank">
										<i class="fas fa-play"></i>
										<h5>Démo</h5>
									</a>
								</div>
								<div class="icon-link col-xs-4 text-center mr-1">
									<a href="https://bitbucket.org/Virginia75012/projettp-lesvallesbaques/src/master/" target="_blank">
										<i class="fas fa-code" style="color:#fff; font-size:20px;"></i>
										<h5>Code</h5>
									</a>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- end single project -->

			<!-- single project 2 -->
			<div class="single-project col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<img src="{{ asset('build/landingpage.png' ) }}" alt="one-page-portefolio" class="img-fluid">
					<a href="#" target="_blank">
						<div class="overlay">
							<div class="row title">
								<h4>oProfile</h4>
							</div>
							<div class="row description w-100">
								<h5>Landingpage portfolio</h5>
								<p>Page perso factice en créant un thème WordPress</p>
							</div>
							<div class="row mt-3 list-tech">
								<p class="tech">HTML | CSS | JS | PHP7 | WordPress | Brunch
								</p>
							</div>
							<div class="row">
								<div class="icon-link col-xs-4 text-center">
									<a href="https://drive.google.com/file/d/1Mvt5w6asugJwbT7G8_piZwd61qWpU2_z/view" target="_blank">
										<i class="fas fa-play"></i>
										<h5>Démo</h5>
									</a>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- end single project -->

			<!-- single project 1 -->
			<div class="single-project col-md-4 col-sm-6 col-xs-12">
				<div class="project-thumb">
					<img src="{{ asset('build/udemy-travel.png' ) }}" alt="one-page-portefolio" class="img-fluid">
					<a href="#" target="_blank">
						<div class="overlay">
							<div class="row title">
								<h4>Travel Agency</h4>
							</div>
							<div class="row description w-100">
								<h5>LandingPage d'une agence de voyage factice</h5>
								<p>Cours HTML-CSS Udemy
								</p>
							</div>
							<div class="row mt-3 list-tech">
								<p class="tech">HTML | CSS
								</p>
							</div>
							<div class="row">
								<div class="icon-link col-xs-4 text-center">
									<a href="https://travel-agency-udemy.herokuapp.com/" target="_blank">
										<i class="fas fa-link"></i>
										<h5>Lien</h5>
									</a>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!-- end single project -->
		</div>
	</div>
</section>
<!--/ Section Work End/-->{# https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=693&q=80 #}