{% extends 'base.html.twig' %}

{% block title %}Virginia Atenza
{% endblock %}

{% block body %}

	{{ include('page/_about.html.twig') }}

	{{ include('page/_exp.html.twig') }}

	{{ include('page/_work.html.twig') }}

	<section id="contact">
		{% for message in app.flashes('success')%}
			<div class="alert alert-success" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}

		{% if not form.vars.valid %}
			<script>
				$(document).ready(function () {
$('html,body').animate({
scrollTop: $('#contactForm').offset().top
}, 5000);
});
			</script>
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				Il y a une erreur dans votre formulaire
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endif %}
		<div id="contactForm">
			{{ form_start(form, { 'attr': {'novalidate': 'novalidate'}})}}
			<div class="row">
				<div class="col">{{form_row(form.firstname)}}</div>
				<div class="col">{{form_row(form.lastname)}}</div>
			</div>
			<div class="row">
				<div class="col">{{form_row(form.phone)}}</div>
				<div class="col">{{form_row(form.email)}}</div>
			</div>
			{{form_rest(form)}}
			<div class="form-group">
				<button class="btn btn-primary">Envoyer</button>
			</div>
			{{ form_end(form)}}

		</div>
	</section>

{% endblock %}

{# https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=693&q=80 #}
