<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Nouveau message</title>
</head>

<body>
	<div class="header">
		<h2 style="color:#253f58; font-size: 25px;">Nouveau message depuis Portfolio !</h2>
		<p style="font-size: 15px;">Tu viens de recevoir un nouveau message de : <br />
			<strong>{{ contact.firstname}} {{ contact.lastname}}</strong></p>
	</div>

	<div class="content-message">
		<p style="font-size: 15px;">Prénom : <br/>
			{{ contact.firstname}}</p>
		<p style="font-size: 15px;">Nom : <br/>
			{{ contact.lastname}}</p>
		<p style="font-size: 15px;">Téléphone : <br/>
			{{ contact.phone}}</p>
		<p style="font-size: 15px;">Email : <br/>
			{{ contact.email}}</p>
		<p style="font-size: 15px;">Message : <br/>
			{{ contact.message}}</p>
	</div>
</body>

</html>