<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Nouveau message</title>
</head>

<body>
	<div class="header">
		<h2 style="color:#110133; font-size: 22px;">Nouveau message depuis Portfolio !</h2>
		<p style="font-size: 15px;">Tu viens de recevoir un nouveau message de : <br />
			<strong>{{ contact.firstname}} {{ contact.lastname}}</strong></p>
	</div>

	<div class="content-message" style="border: 1px solid black;">
		<p style="color: #110133; font-size: 18px; text-transform: uppercase;"><strong>Identité :</strong> <br/>
			{{ contact.firstname}} {{ contact.lastname}}</p>
		<p style="color: #110133; font-size: 18px; text-transform: uppercase;"><strong>Téléphone : </strong><br/>
			{{ contact.phone}}</p>
		<p style="color: #110133; font-size: 18px; text-transform: uppercase;"><strong>Email : </strong><br/>
			{{ contact.email}}</p>
		<p style="color: #110133; font-size: 18px; text-transform: uppercase;"><strong>Message : </strong><br/>
			{{ contact.message}}</p>
	</div>
</body>

</html>