<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Nouveau message</title>
</head>

<body style="padding: 30px;
  background-color: #fcfcfc;">

	<div class="header">
		<h2 style="color:#110133; font-size: 26px;">Nouveau message depuis Portfolio !</h2>
		<p style="font-size: 20px;">Tu viens de recevoir un nouveau message de : <br />
			<strong>{{ contact.firstname}} {{ contact.lastname}}</strong></p>
	</div>
	<hr />

	<div class="content-message" style="border: 2px solid #110133; margin: 0 auto;
  background-color: rgb(109, 182, 173, 0.7);
  border-radius: 5px;">
		<ul style="text-align: center; list-style: none; color: #110133;">
			<li style="color: #110133; font-size: 18px; text-transform: uppercase; text-decoration: underline;">
				<strong>Identité :</strong>
			</li>
			<p style="font-size: 16px;">{{ contact.firstname}} {{ contact.lastname}}</p>
			
			<li style="color: #110133; font-size: 18px; text-transform: uppercase; text-decoration: underline;">
				<strong>Téléphone :</strong>
			</li>
			<p style="font-size: 16px;">{{ contact.phone}}</p>
			
			<li style="color: #110133; font-size: 18px; text-transform: uppercase; text-decoration: underline;">
				<strong>Email :</strong>
			</li>
			<p style="font-size: 16px;">{{ contact.email}}</p>

			<li style="color: #110133; font-size: 18px; text-transform: uppercase; text-decoration: underline;">
				<strong>Message :</strong></li>
			<p style="font-size: 16px; ">{{ contact.message}}</p>
		</ul>
	</div>

</body>
</html>
